<div class="container">
  <div class="banner" style="" alt="">
    <div class="images">
      <%= link_to "Images", garden_path(Image)  "btn btn-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8"></div>

      <div class="garden">
        <h1> <%= @garden_name, @garden_location %> </h1>
        <ol>
          <li> <%= @garden.size %> </li>
          <li> <%= @garden.capacity %> </li>
          <li> <%= @garden.filter.categories %> </li>
          <li> <%= @garden.type %> </li>
        </ol>
      </div>

      <div class="staus">
        <h2> <%= @garden.availability %> </h2>
      </div>

      <div class="description">
        <h3>description</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
      </div>
    </div>

    <div class="house rules">
      <h3>description</h3>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
    </div>

    <div class="user_id">
      <h4><%= @garden.user %></h4>
    </div>

    <div class="col-12 col-lg-4">
      <div class="assessment">
        <h2>Select your travel dates so that we can show you the price</h2>
      </div>
      <%= simple_form_for([@car, @booking]) do |f| %>
    <h3><span class="price">€<%= number_with_delimiter(@car.price_per_day) %></span> per day</h3>
    <hr>
    <div class="form-row">
      <%= f.input :start_date,
        as: :string,
        label: 'Dates',
        placeholder: 'From',
        input_html: {
          value: f.object.start_date || Time.zone.now,
          data: {
            controller: 'datepicker',
            datepicker_show_months: 1,
            datepicker_min_date: Time.zone.today
          }
        }
      %>
      <%= f.input :end_date,
        as: :string,
        label: false,
        placeholder: 'To',
        disabled: false,
        input_html: {
          value: f.object.end_date,
          data: {
            controller: 'datepicker',
            datepicker_show_months: 1,
            datepicker_min_date: Time.zone.today
          }
        }
      %>
    </div>
    </div>
  </div>
</div>

