<div class="banner mt" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/1416572/pexels-photo-1416572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <h1>Rent a beautiful Garden</h1>
  <p>Make it a unique experience</p>

  <%= render 'landing_form' %>

</div>

<div class="top-gardens">
  <h1>Favourite Gardens</h1>
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <% @gardens.each do |garden| %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card" style="width: 33vb;">
            <% if garden.photo.attached? %>
            <%= cl_image_tag garden.photo.key, crop: :fill, class: "card-img-top", alt: "Card image cap" %>
            <% end %>
            <div class="card-body">
              <div class="rating">
                <h5 class="card-title"><%= garden.name %></h5>
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
              <p class="card-text"><%= garden.description %></p>
              <%= link_to 'Show Garden', garden_path(garden), class: 'btn btn-success'%>
              <p class="availability"> <strong>Available from:</strong> <%= garden.start_time %>:00 to <%= garden.start_time + garden.duration %>:00 </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper">
  <h1>What people say</h1>
  <hr>
  <div class="testimonials">
    <div class="testimonial">
      <p><strong>"</strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet<strong>"</strong></p>
      <div class="test-user">
        <i class="far fa-user-circle"></i>
        <h5><strong>Anna F.</strong></h5>
      </div>
    </div>
    <div class="testimonial">
      <p><strong>"</strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet<strong>"</strong></p>
      <div class="test-user">
        <i class="far fa-user-circle"></i>
        <h5><strong>Danny G.</strong></h5>
      </div>
    </div>
    <div class="testimonial">
      <p><strong>"</strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet<strong>"</strong></p>
      <div class="test-user">
        <i class="far fa-user-circle"></i>
        <h5><strong>Marc M.</strong></h5>
      </div>
    </div>
  </div>
</div>
<div class="footer">
    <h2><i class="fab fa-facebook-square"></i></h2>
    <h2><i class="fab fa-instagram"></i></h2>
    <h2><i class="fas fa-envelope-square"></i></h2>
    <p><i class="far fa-copyright"></i> by DATE FOX </p>

</div>
