<div class="card-product row flex-grow-1">

  <div class="inner-card">
    <img src="https://media.architecturaldigest.com/photos/56f99e6b68aa959e79f3527f/master/w_1600%2Cc_limit/living-roofs-rooftop-gardens-book-02.jpg" />
    <div class="card-product-infos row justify-content-start align-items-center flex-grow-1">
      <div class="col">
        <div class="row">
          <div class="col" id="garden-type">
            <p><%= item.garden_type %></p>
          </div>
        </div>
        <div class="row">
          <div class="col" id="garden-name">
            <h2><%= item.name %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col row justify-content-start" id="garden-details">
            <div class="col-8">
              <p><%= item.capacity %> guests • <%= item.size %> m<sup>2</sup></p>
            <% string = "" %>
            <% array = item.filter_categories.split(", ")  %>
            <% array.each_with_index do |filter, index| %>
              <% if array.last == filter %>
                <% string += "#{filter}" %>
              <% else %>
                <% string += "#{filter} • "  %>
              <% end %>
            <% end %>
            <p><%= string %></p>
            </div>
          <div class="col-4">
            <h5 id="card-price"><%= item.price %>€ / per day</h5>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
