
<div class="background-img">
  <% if @garden.photo.attached? %>
    <%= cl_image_tag @garden.photo.key, crop: :fill, class:"show-banner" %>
  <% end %>

<div id="show-scroll" class="container">
  <div class="row">
    <div class="col-8 shadow p-4 mb-5 bg-white rounded p-8">
      <h1><strong> <%= @garden.name %> <%= @garden.address %> </strong></h1>
        <div class="col p-0 border-bottom">
          <p> <%= @garden.garden_type %> with <strong><%= @garden.size %> </strong>m<sup>2</sup>
            for <strong><%= @garden.capacity %> </strong> Guests </p>
        </div>

        <div class="col p-0 pt-3">
          <p>⭐⭐⭐⭐⭐ (203 reviews)</p>
        </div>

      <div class="col p-0">
          <h2>Description</h2>
            <p> <%= @garden.description %> </p>
      </div>

      <div class="col p-0 pb-4">
          <h2>House rules</h2>
            <p> <%= @garden.house_rules %> </p>
      </div>
      <div class="col p-0">
        <h3>
          <i class="fas fa-wifi pr-3"></i>
          <i class="fas fa-parking pr-3"></i>
          <i class="fas fa-restroom pr-3"></i>
          <i class="fas fa-bed pr-3 "></i>
        </h3>
      </div>
    </div>

    <div class="col-4 shadow p-4 mb-5 bg-white rounded p-8">
      <div class="assessment mb-3">
        <h4><strong>Select your garden time</strong></h4>
      </div>
        <%= render 'bookings/widget', booking: @booking, garden: @garden %>
    </div>
  </div>
</div>
</div>



