
<div>
  <% if @garden.photo.attached? %>
    <%= cl_image_tag @garden.photo.key, height: 600, crop: :fill %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 shadow p-3 mb-5 bg-white rounded p-5">
      <h1><strong> <%= @garden.name %> <%= @garden.address %> </strong></h1>
        <div class="col p-0 border-bottom">
          <p> <%= @garden.size %> <strong>m<sup>2</sup></strong>  <%= @garden.capacity %>
            <strong>capacity</strong> <%= @garden.garden_type %> <strong>type</strong> </p>
        </div>

        <div class="col p-0 pt-3">
          <p>⭐⭐⭐⭐⭐ <strong>Rating</strong></p>
        </div>

      <div class="col p-0">
          <h2>Description</h2>
            <p> <%= @garden.description %> </p>
      </div>

      <div class="col p-0">
          <h2>House rules</h2>
            <p> <%= @garden.house_rules %> </p>
      </div>
      <div class="col p-0">
        <h3>
          <i class="fas fa-wifi pr-3"></i>
          <i class="fas fa-parking pr-3"></i>
          <i class="fas fa-restroom pr-3"></i>
          <i class="fas fa-bed pr-3 "></i>
        </h3>
      </div>
    </div>

    <div class="col-4 shadow p-3 mb-5 bg-white rounded p-5">
      <div class="assessment mb-3">
        <h3><strong>Select your travel dates</strong></h3>
      </div>
        <%= render 'bookings/widget', booking: @booking, garden: @garden %>
    </div>
  </div>
</div>

